/* ========================================= General styles ======================================*/
@font-face { 
    font-family: "FontFamilyLogo";
    src: url("../fonts/GOODTIME.ttf");
}
@font-face { 
    font-family: "FontFamilySPro";
    src: url("../fonts/SourceSansPro-Regular.otf");
}
body{
    font-family: "FontFamilySPro";
    line-height: 1.5;
    font-size: 1.4em;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #fff;
}
nav{
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: #1f753d;
    box-shadow: 2px 0px 7px #000;
	z-index: 50;
}
.contenedor-tabla{
    display: table;
    width: 100%;
}
.contenedor-tr {
  display: table-row;
  width: 100%;
}
.contenedor-tr > a{
	text-decoration: none;
	color: #fff;
}
.contenedor-tr > a:hover{
	/*background-color: #B9DEF5;
    transition: background-color .4s ease-in;
    -moz-transition: background-color .4s ease-in;
    -webkit-transition: background-color .4s ease-in;
    -ms-transition: background-color .4s ease-in;
    -o-transition: background-color .4s ease-in;*/
    color: #f0b169;
    font-weight: bold;
    transition: 0.5s;
}
.table-cell-td {
  display: table-cell;
  padding: 20px 7px;
  text-align: center;
  width: 20%;
}
.table-cell-td:focus{
	outline: none;
}
.logo-navbar{
    background-image: url(../assets/img/logo-navbar.png);
    width: 59px;
    height: 59px;
    margin-left: 2%;
    float: left;
}
.text-navbar{
    color: #fff;
    font-size: 19px;
    float: left;
    margin-left: 2%;
    margin-bottom: 0px;
}
#mobile-menu-list{
	display: none;
}
section{
    width: 100%;
    margin: 0px;
    padding: 40px 0px;
}
article{
    width: 100%;
    margin: 0px;
    padding: 10px;
}
footer{
    width: 100%;
    color: #fff;
    background-color: #1f753d;
    padding: 40px 0px;
    display: inline-block;
}
.social-icon{
    margin: 7px 7px;
    transition: opacity .4s ease-in;
    -moz-transition: opacity .4s ease-in;
    -webkit-transition: opacity .4s ease-in;
    -o-transition: opacity .4s ease-in;
    -ms-transition: opacity .4s ease-in;
}
.social-icon:hover{
    text-decoration: none; 
    opacity: 0.7;
    transition: opacity .4s ease-in;
    -moz-transition: opacity .4s ease-in;
    -webkit-transition: opacity .4s ease-in;
    -o-transition: opacity .4s ease-in;
    -ms-transition: opacity .4s ease-in;
    
}
.social-icon:focus{
    outline: none;
}
.tittles-pages-logo{
    font-family: "FontFamilyLogo";
}
.center-all-contens{
    margin-left: auto;
    margin-right: auto;
}
#carrito-compras-tienda{
    width: 100%;
    padding: 20px;
}
#container-carrito-compras{
   color:#000;
   display: none;
   background-color: #fff;
   width: 30%;
   position: absolute;
   right: 0;
   z-index: 100;
   margin-top: 5%;
}
/* ========================================= index styles ======================================*/
#jumbotron-index{
    margin: 0px;
    padding: 140px 25px;
    color: #fff;
    background: url(../assets/img/banner-index-100.jpg);
    background-position-y: -60px;
    height: 500px;
}
#new-prod-index{
    background-color: rgba(255,255,255,.9);
}
#reg-info-index{
    background-color: rgba(255,255,255,.9);
    border-top: 1px solid rgba(183, 165, 165,.2);
}
#distribuidores-index{
    background-color: rgba(186, 188, 171,.87);
    color: #000;
}
/* ========================================= product styles ======================================*/
#store, #infoproduct, #container-pedido{
    background-color: rgba(255,255,255,.97);
    min-height: 900px;
}
/* ========================================= registration styles ======================================*/
#container-page-registration{
    /*background-image: url(../assets/img/font-registration.jpg);*/
}
#form-registration{
    min-height: 900px;
    background-color: rgba(255,255,255,.95);
    padding-top: 120px;
}
#container-form{
    width: 100%;
    padding: 40px;
    background-color: #2f4153;
}
/* ========================================= configAdmin styles ======================================*/
#container-page-configAdmin{
    background-image: url(../assets/img/font-index.JPG);
}
#prove-product-cat-config{
    background-color: #fff;
    min-height: 900px;
}
#add-product,
#del-prod-form,
#add-categori,
#del-categori,
#add-provee,
#del-prove,
#add-admin,
#del-admin,
#del-pedido{
    border: 1px solid #e0e1e1 !important;
    border-radius: 4px;
    padding: 10px;
}

.btn-success, .btn-danger, .btn-primary{
    color: white;
    border: 2px solid #1f753d;
    background: #1f753d;
    font-family: sans-serif;
    padding: 10px 10px;
    border-radius: 0px;
    font-weight: 900;
}
.btn-success:hover, .btn-danger:hover, .btn-primary:hover{
    color: #1f753d;
    background: white;
    border: 2px solid #1f753d;
}
.text-center a{
    width: 40%;    
}

.footer-distributed{
	background-color: #1f753d;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
 
	padding: 55px 50px;
	margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
.footer-distributed .footer-left{
	width: 40%;
}
 
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px sans-serif, cursive;
	margin: 0;
}
 
.footer-distributed h3 span{
    color: #f5ca89;
}
 
 
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
 
.footer-distributed .footer-center{
	width: 35%;
}
 
.footer-distributed .footer-center i{
	background-color:  #1f753d;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}
 
.footer-distributed .footer-right{
	width: 20%;
}
 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
	margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #1f753d;
	border-radius: 2px;
 
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}
 
 
@media (max-width: 880px) {
 
	.footer-distributed{
		font: bold 14px sans-serif;
	
	}
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
	.main {
		line-height: normal;
		font-size: auto;
	}
 
}
a{
    color: #f5ca89;
}

.input-group .form-control:last-child{
    height: 40px !important;
    border-radius: 0px !important;
    font-size: 15px !important;
    font-family: sans-serif !important;
    width: 100%;
    background: #2f4153;
    border: 2px solid #fff;
    color: white;
}

.input-group{
    display: initial;
}